body {
    margin: 0;
    padding: 0;
    background-color: black;
}
#gun {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translateX(-50%);
    width: calc(477px / 4);
    height: calc(600px / 4);
    background-image: url(./assets/gun.png);
    background-size: cover;
}

#muyu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(984px / 4);
    height: calc(774px / 4);
    background-image: url(./assets/muyu.png);
    background-size: cover;
 
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    z-index: 999;
    width: 100px;
}

.result {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;

}